[submodule "ext-commons"]
	path = ext-commons
	url = http://buntic.insoft03.lan/git/archive/ext-commons.git
[submodule "core-model"]
	path = core-model
	url = http://buntic.insoft03.lan/git/archive/core-model.git
