@include extjs-button-ui(
$ui: 'article',

$border-radius: $button-large-border-radius,
$border-width: $button-large-border-width,

$border-color: $button-default-border-color,
$border-color-over: $button-default-border-color-over,
$border-color-focus: $button-default-border-color-focus,
$border-color-pressed: $button-default-border-color-pressed,
$border-color-disabled: $button-default-border-color-disabled,

$padding: $button-large-padding,
$text-padding: $button-large-text-padding,

$background-color: $button-default-background-color,
$background-color-over: $button-default-background-color-over,
$background-color-focus: $button-default-background-color-focus,
$background-color-pressed: $button-default-background-color-pressed,
$background-color-disabled: $button-default-background-color-disabled,

$background-gradient: $button-default-background-gradient,
$background-gradient-over: $button-default-background-gradient-over,
$background-gradient-focus: $button-default-background-gradient-focus,
$background-gradient-pressed: $button-default-background-gradient-pressed,
$background-gradient-disabled: $button-default-background-gradient-disabled,

$color: $button-default-color,
$color-over: $button-default-color-over,
$color-focus: $button-default-color-focus,
$color-pressed: $button-default-color-pressed,
$color-disabled: $button-default-color-disabled,

$font-size: $button-large-font-size,
$font-size-over: $button-large-font-size-over,
$font-size-focus: $button-large-font-size-focus,
$font-size-pressed: $button-large-font-size-pressed,
$font-size-disabled: $button-large-font-size-disabled,

$font-weight: $button-large-font-weight,
$font-weight-over: $button-large-font-weight-over,
$font-weight-focus: $button-large-font-weight-focus,
$font-weight-pressed: $button-large-font-weight-pressed,
$font-weight-disabled: $button-large-font-weight-disabled,

$font-family: $button-large-font-family,
$font-family-over: $button-large-font-family-over,
$font-family-focus: $button-large-font-family-focus,
$font-family-pressed: $button-large-font-family-pressed,
$font-family-disabled: $button-large-font-family-disabled,

$icon-size: $button-large-icon-size,
$glyph-color: $button-default-glyph-color,
$glyph-opacity: $button-default-glyph-opacity,
$arrow-width: $button-large-arrow-width,
$arrow-height: $button-large-arrow-height,
$split-width: $button-large-split-width,
$split-height: $button-large-split-height,
$opacity-disabled: $button-opacity-disabled,
$inner-opacity-disabled: $button-inner-opacity-disabled
);

