<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>login page</web-resource-name>
			<url-pattern>/login.jsp</url-pattern>
			<url-pattern>/login</url-pattern>
			<url-pattern>/css/login.css</url-pattern>
			<url-pattern>/images/info.gif</url-pattern>
			<url-pattern>/images/title.gif</url-pattern>
			<url-pattern>/images/log_box.png</url-pattern>
			<url-pattern>/images/line_log.png</url-pattern>
			<url-pattern>/images/key.png</url-pattern>
			<url-pattern>/images/main_page_bg.jpg</url-pattern>
			<url-pattern>/css/mainPages.css</url-pattern>
			<url-pattern>/css/jquery.alerts.css</url-pattern>
			<url-pattern>/jquery-1.11.1.min.js</url-pattern>
			<url-pattern>/jquery.alerts.js</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted access</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>*</role-name>
	</security-role>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
