<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>login page</web-resource-name>
			<url-pattern>/login.html</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>resources files</web-resource-name>
			<url-pattern>/resources/login.css</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted access</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>*</role-name>
	</security-role>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/auth_error.html</form-error-page>
		</form-login-config>
	</login-config>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
