@import "/css/mainPages.css";
.welcomecontainer{
    background-repeat:no-repeat;
}
#zagolovok,
#subzagolovok{
    color:#742708;
    font:bold 2em Arial, sans-serif;
    text-align:center;
    text-shadow:2px 3px 5px #864D2D;
}
#zagolovok{
    margin-top:20%;
    margin-bottom:20px;
}
#subzagolovok{
    font-size:1.8em;
    margin-bottom:90px;
}
.login_panel{
    background-image:url("/images/log_box.png");
    background-repeat: no-repeat;
    background-size:253px 165px;
    background-position:center;
    //width:800px;
    margin:auto;
}
legend{
    color:#732607;
    font:bold 1.2em Arial, sans-serif;
    text-align:center;
    background-image:url("/images/line_log.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center center;
    //width:800px;
    margin-top:-50px;
}
.login_panel fieldset{
    border:none;
    width:253px;
    margin:auto;
}
fieldset label {
    display: inline-block;
    width:80px;
    margin: 5px;
}
fieldset input {
    width:150px;
}

/*
}

fieldset legend {
	font-size: 0.8em;
	font-weight: bold;
}


#loginbutton {
	margin-top: 10px;
	text-align: right;
}*/