@import "/css/mainPages.css";
.welcomecontainer{
    background-repeat:no-repeat;
    overflow:hidden;
}
#zagolovok,
#subzagolovok{
    color:#742708;
    font:bold 2em Arial, sans-serif;
    text-align:center;
    text-shadow:2px 3px 5px #864D2D;
}
#zagolovok{
    margin-top:15%;
    margin-bottom:20px;
}
#subzagolovok{
    font-size:1.8em;
    margin-bottom:90px;
}
.login_panel{
    color:#230F07;
    font:bold 1em Arial, sans-serif;
    background-image:url("/images/log_box.png");
    background-repeat: no-repeat;
    background-size:253px 165px;
    background-position:center;
    margin:auto;
    margin-bottom:25%;
}
legend{
    color:#732607;
    font:bold 1.1em Arial, sans-serif;
    text-align:center;
    background-image:url("/images/line_log.png");
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center center;
    width:800px;
    margin:-10px 0 40px 0;
}
.login_panel fieldset{
    text-align:center;
    border:none;
    height:165px;
    margin:20px auto;
}
.log_fields{
    width:240px;
    margin:auto;
}
fieldset label {
    font-size:0.9em;
    display: inline-block;
    width:70px;
    margin: 10px 10px;
}
fieldset input {
    width:120px;
    margin-right:10px;
}
#loginbutton {
    text-align: center;
    text-decoration:underline;
    background-image:url("/images/key.png");
    background-repeat:no-repeat;
    width:70px;
    height:30px;
    padding-left:30px;
    margin: 10px auto;
}
#loginbutton input{
    font-size:1em;
    background-color:transparent;
    border:none;
    padding:5px 3px;
    cursor:pointer;
}