/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.09.2014, 11:58:49
    Author     : shapovalova
*/
.hmenu .x-btn{
    background-repeat:no-repeat;
    background-position:0.7em center;
    background-size:1.3em 1.3em;
    /*padding-left:45px;
    padding-right:10px;*/
    padding-left:2.2em;
    padding-right:0.3em;
    margin-left:0;
    border-right:1px inset #506A8C !important;
}
a.add_btn.x-btn{
    background-image:url(../images/i_add.png);
}
a.search_btn.x-btn{
    background-image:url(../images/i_binok.png);
}
a.clean_btn.x-btn{
    background-image:url(../images/eraser.png);
}
a.edit_btn.x-btn{
    background-image:url(../images/i_edit.png);
}
a.save_btn.x-btn{
    background-image:url(../images/i_save.png);
}
a.remove_btn.x-btn{
    background-image:url(../images/delete.png);
}
a.reg_btn.x-btn{
    background-image:url(../images/i_ok.png);
    border-right:none !important;
}
a.print_btn.x-btn{
    background-image:url(../images/printer.png);
}
.back_btn .hmenu{
    padding-right:0;
    border-right:none;
}
.back_btn .tool-btn{
    background-image:url(../images/i_back.png);
    margin-right:0 !important;
    margin-left:0 !important;
}

.to_begin_btn{
    background-image:url(../images/home.png);
}
a.quit_btn.x-btn{
    background-image:url(../images/exit.png);
    margin-right:0 !important;
    border-right:none !important;
}
.add_small_btn,
.del_small_btn{
    background-repeat:no-repeat;
    background-position:left center;
    background-color:transparent;
    border:none;
    width:17px;
    height:17px;
    padding-left:17px;
    margin:2px 0 2px 3px;
    overflow:hidden;
}
.add_small_btn{
    background-image:url(../images/plus.png);
}
.del_small_btn{
    background-image:url(../images/del.png);
}

.attached_section .x-btn{
    background-color:transparent;
    background-repeat:no-repeat;
    border:none;
}
.attach .x-btn{
    background-image:url(../images/attached.png);
    background-repeat:no-repeat;
    background-position:left center;
    margin-left:20px;
    padding:3px 20px;
}
.garbage{
    background-image:url(../images/attach_del.png);
    margin-left:10px;
}

/*прячем счетчик у полей вроде Года рождения*/
div.x-form-spinner-up, div.x-form-spinner-down{
    display:none;
}